<a href="https://colab.research.google.com/gist/LRondina/76854e329bea1a1964e73e011270c576/colabpandastests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab notebook - Pandas test

In [ ]:
import pandas as pd

Import a random csv file from GitHub

In [ ]:
df_cars = pd.read_csv("https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/automotive_data.csv")

In [ ]:
df_cars.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df_cars.groupby("make").mean()

               symboling  wheel-base  ...   city-mpg  highway-mpg
make                                  ...
alfa-romero     2.333333   90.566667  ...  20.333333    26.666667
audi            1.285714  102.271429  ...  18.857143    24.142857
bmw             0.375000  103.162500  ...  19.375000    25.375000
chevrolet       1.000000   92.466667  ...  41.000000    46.333333
dodge           1.000000   95.011111  ...  28.000000    34.111111
honda           0.615385   94.330769  ...  30.384615    35.461538
isuzu           0.750000   94.825000  ...  31.000000    36.000000
jaguar          0.000000  109.333333  ...  14.333333    18.333333
mazda           1.117647   97.017647  ...  25.705882    31.941176
mercedes-benz   0.000000  110.925000  ...  18.500000    21.000000
mercury         1.000000  102.700000  ...  19.000000    24.000000
mitsubishi      1.846154   95.353846  ...  24.923077    31.153846
nissan          1.000000   95.722222  ...  27.000000    32.944444
peugot          0.000000  110.200000  ...  22.454545    26.636364
plymouth        1.000000   95.385714  ...  28.142857    34.142857
porsche         2.600000   92.280000  ...  17.400000    26.000000
renault         1.000000   96.100000  ...  23.000000    31.000000
saab            2.500000   99.100000  ...  20.333333    27.333333
subaru          0.500000   96.175000  ...  26.333333    30.750000
toyota          0.562500   98.103125  ...  27.500000    32.906250
volkswagen      1.666667   97.608333  ...  28.583333    34.916667
volvo          -1.272727  106.481818  ...  21.181818    25.818182

[22 rows x 10 columns]